nav#top-menu {
    width: 100%;
    height: 70px;
    background-color: #5C85FF;
    margin: 0;
    padding: 0;
}
#top-menu ul {
    display: block;
    list-style-type: none;
    width: 700px;
    margin: 0 auto;
    padding: 0;
}
#top-menu ul li {
    margin: 0;
    padding: 0;
}
#top-menu ul li a {
    display: block;
    float: left;
    max-height: 25px;
    width: 100px;
    margin: 0;
    padding: 18px 0;
    font-family: tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #5C85FF;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: #5C85FF solid 5px;
}
#top-menu ul li a:hover {
    border-bottom: #FFFFFF solid 10px;
}
.circular img {
    width: 25%;
    height: 25%;
    border-radius: 1em;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    margin: 10;
    background: url(/assets/images/zain.jpg) no-repeat;
	border-bottom: #5C85FF solid 5px;
}

/*.con{
   
    width: 100%;
    height: 90px;
    margin-top: 1;
    
    
}*/
  a:active {
            text-decoration: none;
            color: #FC6;
        }

 #tab-group h3 {
            text-align: left;
            
        }
        #tab-group h3 {
            text-align: left;
        }
        .ready {
            position: relative;
            margin-bottom: 2em;
        }
        #tab-group .ready .tab-header {
            font-weight: normal;
            font-size: 13px;
            text-transform: uppercase;
            padding: 4px 6px 1px;
        }
        .ready .tab-header {
            position: absolute;
            top: 0;
            margin: 0;
            padding: 0.25em 0.5em;
            left: 0;
            background: #0066CC;
            border: 1px solid #999;
            border-bottom: #fff;
            border-radius: 4px 4px  0;
            z-index: 8;
            cursor: pointer;
              
        }
        .tab-header{
            color: white
        }
        .ready .tab-header.active {
            background: white;
            border-bottom-color: white;
            color: #0066CC;
        }
        .ready .tab-content {
            position: relative;
            top: 0;
            margin: 0;
            padding: 0.5em;
            top: 24px;
            border: 1px solid #999;
            z-index: 1;
            background: white;
            zoom: 1;
        }
        
        .ready .tab-content:after {
            content: "\0020";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        .tab-header:after{
            color: white
        }
        .ready #tab-header-2 {
            left: 4.3em;
        }
        .ready .tab-content {
            display: none;
        }
        .ready .tab-content p {
            margin: 0;
            padding: 0 0 1em;
        }
        .ready .tab-content.active{
            display: block;
        }
