
div.levitate{
	width: 600px;
    margin: 20px auto;
	height: 550px;
}

div.levitate1{
	width: 600px;
    margin: 0 auto;
	height: 550px;
}

.levitate{
  -webkit-animation: 
        fadeInDown 2s 1,
        levitate 2s infinite;  
    -moz-animation: 
        fadeInDown 2s 1,
        levitate 2s infinite;
}


@-webkit-keyframes fadeInDown {
    0% {
         -webkit-transform: translateY(-60px);
        opacity:0;        
   }

    100% {
        -webkit-transform: translateY(20px);
        opacity:1;
   }
}
@-moz-keyframes fadeInDown {
    0% {
         -moz-transform: translateY(-60px);
        opacity:0;        
   }

    100% {
        -moz-transform: translateY(20px);
        opacity:1;
   }
}

@-webkit-keyframes levitate{
  0% {
         -webkit-transform: translateY(-7px);

   }
   
   

    50% {
           -webkit-transform: translateY(0px);
   }

100%{
         -webkit-transform: translateY(-7px);
}

}

@-moz-keyframes levitate{
  0% {
         -moz-transform: translateY(-7px);
   }

    50% {
           -moz-transform: translateY(5px);

   }

100%{
         -moz-transform: translateY(-7px);
}

}

img {
	margin-bottom: 65px;
}

span{
    display:block;
    width:500px;
    height:0;
    background: rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin: 0 auto;
	position: relative;
	
	border-radius: 50%;
}

.shadow{
    -webkit-animation: shadow 3s infinite;
    -moz-animation: shadow 3s infinite;

}

@-webkit-keyframes shadow{
  0% {
       width:350px;
	    margin-top:-30px;
   }

    50% {
    width:400px;
	    margin-top:-35px;
   }

100%{
    width:350px;
	    margin-top:-30px;
}

}

@-moz-keyframes shadow{
  0% {
       width:55px;
    height:10px;
        -moz-box-shadow:0 3px 7px rgba(0,0,0,0.2);
   }

    50% {
    width:67px;
    -moz-box-shadow:0 3px 3px rgba(0,0,0,0.8);

   }

100%{
    width:65px;
    height:15px;
         -moz-box-shadow:0 3px 7px rgba(0,0,0,0.2);
}

}

